bin/
target/

*.jar
*.war
*.ear
*.project
*.classpath
*.class

build/
.settings/
.gradle/
gradle.properties
*.hprof
gradle-app.setting
.idea/
*.iml
_rest_managed.json

src/test/resources/solr-conf/gt/data

